@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-button {
  width: 30px;
  height: 20px;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.hamburger {
  width: 100%;
  height: 1px;
  background: rgb(0, 0, 0);
  display: block;
  transition: 0.5s;
}
.open .hamburger-top {
  transform: rotate(-40deg) translateY(12px);
}
.open .hamburger-bottom {
  transform: rotate(40deg) translateY(-12px);
}
.open .hamburger-middle {
  display: none;
}
